<div class="login-screen">
    
    <div class="login-container">
        <img src="logo.png" alt="Logo" class="logo">
        <h1 style="float: right; margin-right:70px;margin-top: 15px;">Cosmopack</h1>
      
        <form ng-submit="login()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" ng-model="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="login-error" ng-show="loginError">
            {{loginErrorMessage}}
        </div>
    </div>
    <div class="footer-text">
        Powered by Quriv
    </div>
</div>
